# Makefile
build/
build-clang/
build-gcc/
build-arm-clang/
build-arm-gcc/
compile_commands.json

# container
.ash_history

# development
*.sw[op]
tags
.DS_Store

# profiling — generated .cpp files (recreated by make profile)
profiling/compile_time/*.cpp
